<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../Content/css/main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="main-page">
      <div class="main-img">
        <p class="title">
          LAZER PANTS
        </p>
        <img class="title-card" src="../Content/sprite-art-assets/Title-Card2.gif" alt="" />
        <a href="/character/new"><button class="button" type="button" name="new">New Game</button></a>
        <a href="/character/load"><button class="button" type="button" name="load">Load Button</button></a>
      </div>
    </div>
    <div class="background"></div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="../Content/js/main.js"></script>
    </body>
</html>
