<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="..\..\Content\css\main.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
  <div class="character-list">
    @foreach (var toon in @Model)
    {
      <h3>@toon.GetName()</h3><a href="/character/update/@toon.GetId()">Edit</a> <a href="/character/delete/@toon.GetId()">Erase Data</a>
    }
  </div>
</div>
<hr>
<h2><a href="/">Home Page</a></h2>
<hr>
<h2><a href="/character/new">Create New Character</a></h2>

<div class="background"></div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="..\..\Content\js\main.js"></script>
</body>

</html>
