<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../Content/css/main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <div class="char-page hide-char">
      <div class="character">

      </div>
      <div class="armour">
        <div class="armour-piece"></div>
        <div class="armour-piece"></div>
        <div class="armour-piece"></div>
        <div class="armour-piece"></div>
        <div class="armour-piece"></div>
        <div class="armour-piece"></div>
        <div class="armour-piece"></div>
        <div class="armour-piece"></div>
        <div class="armour-piece"></div>
        <div class="armour-piece"></div>
        <div class="armour-piece"></div>
        <div class="armour-piece"></div>
      </div>

      <div class="form">
        <p>Name:</p>
        <input type="text" name="name" value="">
        <div class="form1"><p>Choose your character type</p>
          <select>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="form2"><p>Choose your chest piece</p>
          <select>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="form3"><p>Choose your arm pieces</p>
          <select>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="form4"><p>Choose your leg pieces</p>
          <select>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="form5"><p>Choose your head piece</p>
          <select>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="form6"><p>Choose your weapon</p>
          <select>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <input type="submit" name="name" value="Submit">

      </div>
    </div>

  </body>
</html>
